/* Variables */

:root {
  --bg-color: #FFFFFF;
  --text-color: #222222;
  --accent-color: #F2E15E;
  --link-color: #0000FF;
  --main-width: 800px;
  --spacing: 20px;
  --wide-spacing: 30px;
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

html {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 18px;

  padding-bottom: var(--spacing);
  border-top: 10px solid var(--text-color);
  border-bottom: 10px solid var(--accent-color);

  min-height: 100%;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/* Header */

header {
  margin-bottom: var(--spacing);
  background-color: var(--accent-color);
  text-align: center;
}

header img {
  width: 100%;
  padding: var(--spacing) var(--wide-spacing);
  max-width: var(--main-width);
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: var(--spacing) 0;
  margin-top: var(--wide-spacing);
}

.subtitle {
  text-align: center;
  font-style: italic;
  margin-bottom: var(--spacing);
}

.notification {
  background-color: var(--text-color);
  color: var(--bg-color);

  text-align: center;

  margin-top: -10px;
  padding: 20px;

  position: sticky;
  top: 0;
  z-index: 10;
}

.notification::before {
  content: "▶";
  display: inline-block;
  color: var(--accent-color);
  margin-right: 10px;
}

.notification::after {
  content: "◀";
  display: inline-block;
  color: var(--accent-color);
  margin-left: 10px;
}

.notification a {
  color: var(--accent-color);
}

/* Navigation */

nav {
  margin-bottom: var(--spacing);
}

nav ul {
  display: flex;
  max-width: var(--main-width);
  margin: auto;
}

nav li {
  flex-grow: 1;
  margin-right: var(--wide-spacing);
  border: 1px solid var(--link-color);
  border-radius: 5px;
}

nav li:first-of-type {
  margin-left: var(--wide-spacing);
}

nav a {
  display: block;
  text-align: center;
  padding: calc(var(--spacing) / 2);
}

nav li.current {
}

/* Main Content */

section {
  max-width: var(--main-width);
  margin: auto;
  margin-bottom: var(--wide-spacing);
  padding: 0 var(--wide-spacing);
}

section:not(:first-of-type) {
  display: flex;
  align-items: flex-start;
}

section ul {
  list-style-type: disc;
  margin-left: 35px;
}

section p, section li {
  line-height: 1.7;
}

section ul.narrow li {
  line-height: 1;
}

section p:not(:last-child),
section li:not(:last-child),
section ul:not(:last-child) {
  margin-bottom: var(--spacing);
}

section h2 {
  background-color: var(--accent-color);
  text-align: center;
  font-size: 1.3em;
  padding: 10px;
  margin-right: var(--wide-spacing);
  flex: 0 0 200px;
}

section h3 {
  font-size: 1.1em;
  margin-top: var(--wide-spacing);
  margin-bottom: var(--spacing);
}

/* Timeline */

.timeline {
  list-style-type: none;
  margin-left: 0;
}

.timeline li {
  line-height: 1.3;
}

.timeline li > *:first-child {
  display: inline-block;
  width: 100px;
  text-align: right;
  position: absolute;
  font-style: italic;
}

.timeline.timeline-wide li > *:first-child {
  width: 140px;
}

.timeline li > *:nth-child(2) {
  display: inline-block;
  margin-left: 120px;
}

.timeline.timeline-wide li > *:nth-child(2) {
  margin-left: 170px;
}

.timeline .more-info {
  display: block;
  margin-top: calc(var(--spacing) / 2);
  font-style: italic;
}

/* Responsivity */

@media(max-width: 800px) {
  nav ul {
    display: block;
  }

  nav li {
    margin: 0 var(--wide-spacing) !important;
    margin-bottom: var(--spacing) !important;
  }

  section:not(:first-of-type) {
    display: block;
  }

  section h2 {
    margin: 0;
    margin-bottom: var(--spacing);
  }
}
